/*-------------------------------------------------------*/
/* Custom Style
/*-------------------------------------------------------*/

#daftar {
    scroll-margin-top: 80px;
}

.statistik-wrapper {
    margin: 0 0 24px 0;
    color: $bg-light;
    text-align: center;
    text-shadow: 0 0 4px #6c4ca9;

    span {
        display: block;
    }
}

.angka-statistik {
    font-size: 3rem;
    font-weight: bold;
}

.ket-statistik {
    font-size: 1rem;
}

.benefits__subtitle {
    font-size: 18px;
}

.custom-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../img/Abstract-Envelope.svg");
	/* background by SVGBackgrounds.com */
	background-size: cover;
}

.card--form {
	background-color: #fff;
	border-radius: 8px;
}

.card--form-glass {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	box-shadow: inset 0px 0px 20px rgb(255, 255, 255, 0.15);
	backdrop-filter: blur(6px);

	a {
		color: #c54d4d
	}
}

.logo--form {
	height: 80px;
}

.form-title {
    font-size: 1.25rem;
    font-weight: bold;
	color: $heading-color;
}

#pass-eye {
	background: none;

	svg {
		width: 32px;
		height: 32px;
	}
}

.hide-pass {
	filter: grayscale(1) opacity(0.5);
}

.error {
	p {
		color: #ec0707;
	}

	p:not(:last-child) {
		margin: 0;
	}
}
