/* ==============
  Account Pages (customized)
===================*/

.accountbg-custom {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/background2.png");
  background-size: cover;
}

#dekorasi {
	background: $white;
	border-radius: 32px;

	img {
		width: 480px;
	}
}

#card-form {
  border: 7px groove $bg-topbar;
  border-radius: 10px;
}

#container-pilihan-registrasi {
	.pilihan-registrasi {
		color: $primary;
		border: 1px solid $primary;
	}
}
